.iconDiv {
  border-radius: 0 6.25rem 6.25rem 0;
  min-width: 2.875rem;
  min-height: 2.875rem;
}

.textDiv {
  max-width: max-content;
  justify-content: space-evenly;
}

.notificationLink {
  width: fit-content;
}

.notificationSeparator {
  flex-grow: 1;
}

@media screen and (min-width: 1026px) {
  .rootDiv {
    height: 4.25rem;
  }
}
